.header {

    &__navigation {
        width: 100vw;
        height: 3rem;
        background-color: cornflowerblue;
    }
    &__nav-list {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__branding {
        font-family: $font-stack-branding;
        font-size: 2rem;
    }
    &__nav-item {

    }
    &__nav-link {
        display: flex;
        align-items: center;

        padding: 0 1.5rem;

        &:after {
            content: "";
            font-size: 0.5rem;
            border: solid black;
            border-width: 0px 2px 2px 0px;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            margin: 0 0.5rem;
        }
    }
}

.banner {
    width: 100vw;
    height: 75vh;

    &__img {
        background-image: url("https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
        background-size: cover;
        background-position: top top;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
}




// .header {
//     width: 100%;
//     height: 3rem;
//     background-color: chocolate;

//     &__nav-list {
//         list-style: none;
//         padding: 0;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;

//         & a {
//             padding: 0.5rem 1rem;
//             outline: 1px solid green;
//             text-align: center;

//             &::after {
//                 font-size: 20px;
//             }
//         }
//     }
//     &__nav-link {

//         &::after {
            // content: "";
//         }
//     }
// }